<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %></body>
  <table cellpadding="5" style="margin:50px;">
    <tr>
      <th>Original URL</th>
      <th>Shortened URL</th>
      <th>Total Visits</th>
      <th>Unique Visitors</th>
    </tr>
    <tr>
      <td><a href=<%= longURL %> > <%= longURL %> </a></td>
      <td><a href="http://localhost:8080/u/<%= shortURL %>" > http://localhost:8080/u/<%= shortURL %> </a></td>
      <td><center><%= totalVisits %></center></td>
      <td><center><%= uniqueVisits %></center></td>
    </tr>
  </table>
  <form action=<%= "/urls/" + shortURL + "?_method=PUT"%> method="POST" style="margin:50px;">
    <label for="longURL">Edit the original URL:&nbsp;&nbsp;&nbsp;&nbsp;http://</label>
    <input id="longURL" type="text" name="longURL" placeholder="www.example.com" style="width: 300px">
    <input type="submit" value="Update">
  </form>
  <p style="margin:50px;"><a href="/urls">View all short URLs</a></p><br>
  <hr width="675px" align="left" style="margin-left:25px">
  <p style="margin-left:55px;"><i>Analytics:</i><p>
  <table cellpadding="5" style="margin-left:50px;">
    <tr>
      <th>Visitor ID</th>
      <th>Date of Visit</th>
      <th>Time of Visit</th>
    </tr>
    <% for (let visit of visits) { %>
    <tr>
      <td><center> <%= visit[0] %> </center></td>
      <td><center> <%= visit[1] %> </center></td>
      <td><center> <%= visit[2] %> </center></td>
    </tr>
    <% }; %>
  </table>
</body>

</html>