<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table cellpadding="5" style="margin:50px;">
    <tr>
      <th>Original URL</th>
      <th>Shortened URL</th>
    </tr>
    <tr>
      <td><a href=<%= longURL %> > <%= longURL %> </a></td>
      <td><a href="http://localhost:8080/u/<%= shortURL %>" > http://localhost:8080/u/<%= shortURL %> </a></td>
    </tr>
  </table>
  <form action=<%= "/urls/" + shortURL %> method="POST" style="margin:50px;">
    <label for="longURL">Edit the original URL:&nbsp;&nbsp;&nbsp;&nbsp;http://</label>
    <input id="longURL" type="text" name="longURL" placeholder="www.example.com" style="width: 300px">
    <input type="submit" value="Update">
  </form>
  <p style="margin:50px;"><a href="/urls">View all short URLs</a></p>
</body>

</html>